<div class="container">
  <h2><%= @list.name %></h2>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %> - <%= bookmark.movie.title %>
        <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
  <%= link_to "Back to my lists", lists_path %>
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
</div>
